script(src="libs/jquery/jquery-3.3.1.min.js")
script(src="assets/slick/slick.min.js")
script(src="assets/fancybox/jquery.fancybox.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
script(src="js/headhesive.min.js")
script(src="js/wow.min.js")
script(src="js/menu.js")
script(src="js/app.js")
script(src="js/slide.js")
script(src="js/scroll-menu.js")
script(src="js/calculate.js")

